<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>Limit</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" >
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" >
	<link rel="stylesheet" th:href="@{/css/main.css}" >
	<script th:src="@{/webjars/jquery/jquery.min.js}"  charset="utf-8"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"  charset="utf-8"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"  charset="utf-8"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-0">
	<a class="nav-link" th:href="@{/}"><span class="sr-only">(current)</span></a>
	<a class="navbar-brand" th:href="@{/}"><i class="fas fa-home"></i>TideTrader</a>
</nav>
<body>
	<div class="container">
		<div style="text-align: center">
			<div class="notfound">
				<br>
				<p class="alert alert-secondary">Your access frequency is too high. Have been restricted!</p>
				<br>
			</div>
		</div>

	</div>

<footer th:replace="common/footer :: footer"></footer>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		var tmpAnimation = 0;
		// 	  $("#idbutton").click(function(){
		var element = $("img");
		tmpAnimation = tmpAnimation + 360;

		$({
			degrees : tmpAnimation - 360
		}).animate({
			degrees : tmpAnimation
		}, {
			duration : 500,
			step : function(now) {
				element.css({
					transform : 'rotate(' + now + 'deg)'
				});
			}
		// 	    });
		});
	});
</script>

</html>